
.login-page {
  min-height: 100vh;
  box-sizing: border-box;
  border: 20px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(0, 133, 242, 0.3) 40%,
    rgba(0, 133, 242, 0.3) 40%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 755px;
  text-align: center;
}

.login-header h1 {
  color: #003d6e;
  margin-bottom: 15px;
  font-size: 52px;
  font-weight: 600;
  line-height: 68px;
}

.login-header p {
  width: 460px;
  color: rgba(0, 61, 110, 0.6);
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.telegram-auth-section h2 {
  margin-bottom: 0.5rem;
  color: #1f2937;
  font-size: 1.5rem;
  font-weight: 600;
}

.telegram-auth-section p {
  color: #6b7280;
  margin-bottom: 2rem;
}

.telegram-login-btn {
  background: rgba(0, 133, 242, 0.7);
  color: white;
  border: none;
  padding: 7px 0px 7px 24px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  width: 300px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.rect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
}

.rect:hover {
  scale: 1.02;
}

.telegram-login-btn-test {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 10px;
  color: #003d6e;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
